.create-party .buttons .save {
    margin-top: 32px;
}

select{
    height: 42px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: .9em;
}

.list .item:hover{
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.12), 0 5px 10px 0 rgba(0,0,0,.16);
}