section .parties{
    width: 60%;
    padding: 120px 0px 0px 100px;
}

.parties .subtitle{
    font-size: 15px;
    padding-bottom: 20px;
}

.parties .title{
    font-size: 30px;
    padding-bottom: 25px;
}

.parties .top{
    width: 100%;
}

.parties .top img{
    margin-right: 10px;
}

form .wrapper{
    margin-right: 70px;
}

form .field{
    margin-bottom: 25px;
}

form .field label{
    color: #111;
    font-size: .9em;
    padding-bottom: 10px;
}

form .field .error{
    padding-top: 7px;
    font-size: .7em;
}

form .field input{
    padding:8px 10px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 1em;
}

.create-party{
    display: 'none';
}

.create-party .party-image{
    width: 200px;
    height: 170px;
    min-width: 200px;
    min-height: 170px;
    /* background-image: url("https://picsum.photos/200/300"); */
    margin-right: 40px;
    background-color: #d0d0d0;
}

.create-party .buttons .upload{
    margin-top: 30px;
}

.create-party .buttons .save{
    margin-top: 65px;
}

.parties .list{
    padding: 20px 0 50px;
}

.list .item{
    max-width: 240px;
    margin-bottom: 20px;
    background-color: #fff;
}

.list .item:hover{
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.12), 0 5px 10px 0 rgba(0,0,0,.16);
}

.list .item .logo{
    width: 30%;
    height: 150px;
    min-width: 240px;
    min-height: 150px;
    /* background-image: url("https://picsum.photos/200/300"); */
    background-color: #d0d0d0;
}

.list .item .details{
    padding: 12px 15px 10px;
}

.list .item .name{
    font-size: 1em;
    padding-bottom: 3px;
}

.list .item .adress{
    font-size: .8em;
}

.list .item .bottom{
    padding: 12px 15px ;
    border-top: 1px solid #eee;
}

.list .item .bottom .btn{
    font-size: .7em;
    padding: 4.5px 15px;
}

.list .item .bottom .btn img{
    margin-right: 5px;
}

@media only screen and (max-width: 1000px){

    .list .item{
        width: 240px;
        max-width: 240px;
    }

    .list .item .logo{
        width: 100%;
        height: 180px;
        min-width: 240px;
        min-height: 180px;
    }

}

@media only screen and (max-width: 765px){

    .parties .top .btn{
        margin-right: 20px;
    }

    .parties .title, .parties .subtitle{
        margin-left: 20px;
    }

    section .parties{
        width: 100%;
        padding: 120px 0px 0px 0px;
    }

    form{
        display:-webkit-flex;
        display: flex;
        -webkit-flex-direction:column;
	    flex-direction:column;
    }

    .create-party{
        width: 100%;
    }

    .create-party .party-image{
        width: 280px;
        margin: 10px auto;
    }

    .create-party .wrapper{
        margin: 10px auto;
    }
    
    .create-party .buttons{
        margin: 0 auto;
    }

    .create-party .buttons div{
        width: 240px;
    }

    .create-party .buttons .upload{
        margin-top: 0px;
    }

    .list .wrapper{
        -webkit-justify-content:center;
	    justify-content:center;
    }

    .list .item{
        width: 90%;
        max-width: 300px;
    }

    .list .item .logo{
        width: 100%;
        height: 170px;
        min-width: 240px;
        min-height: 170px;
    }

}