.users .top{
    width: 100%;
}

.users .subtitle{
    padding-bottom: 10px;
}

.users .top{
    margin-top: 25px;
}

.users .top .btn{
    margin-left: 10px;
}

.users .top .btn img{
    margin-right: 10px;
}

.users .item{
    padding: 0;
    margin-bottom: 5px;
}

.users .item .info{
    width: 100%;
}

.users .item .name{
    padding-top: 10px;
}

.users .item .image {
    width: 90px;
    height: 80px;
    min-width: 90px;
    min-height: 80px;
    border-radius: 0;
}

.users .item .votes{
    height: 100%;
    padding: 0 25px;
    font-size: 1.5em;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,.52); 
}

.users .item .votes span{
    margin-right: 8px;
}

.users .item .vote{
    height: 100%;
    padding: 0 25px;
    font-size: 1.5em;
}

.users .item .vote:hover{
    cursor: pointer;
}

.users .item .vote span{
    margin-left: 8px;
}

@media only screen and (max-width: 765px) {

    .users .container{
        width: 96%;
        margin: 0 auto 20px;
    }

    .users .top .btn{
        margin-right: 20px;
    }

    .users .top .btn img{
        margin-right: 4px;
    }

    .users .item .image {
        width: 70px;
        height: 65px;
        min-width: 70px;
        min-height: 65px;
        margin-right: 10px;
    }

    .users .item .name{
        font-size: .9em;
        padding-top: 5px;
        padding-right: 5px;
    }

    .users .item .votes{
        height: 100%;
        padding: 0 15px;
        font-size: 1em;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,.52); 
    }

    .users .item .vote{
        padding: 0 15px;
        font-size: 1em;
    }

}